<!--template html-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="img/pic.ico" type="image/x-icon">
  <title>template</title>
  <link rel="stylesheet" href="css/main.min.css">
</head>
<body>
  include ../pug/components/_header
  .container
    <img src="img/pic.png" alt=""/>
    .first
      .p simple block text

  <script src="js/main.min.js"></script>
</body>
</html>
